$white: #ffffff;
$black: #000000;
$darkGrey: #4A4A4A;
$liteGrey: #4E4E4E;
$lightColor: #ffffff;
$darkColor: #3E3E3E;
$darkPurple: #5355C6;
$litePurple: #6664E8;
$liteOrange: #FA975A;
$darkOrange: #F69055;
$pink: #E17AA1;