@import "vendor/reset";
@import "_vars";
@import "_fonts";

@import "config/mixins/_border-dotted";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.667vw;
	height: 100%;

	&._lock {
		overflow: hidden;
	}

	.rating {
		display: flex;
		justify-content: center;
		gap: 8px;

		&__star {
			// cursor: pointer;

			&_full {
				display: none;
			}

			&_half-filled {
				display: none;
			}
		}
		&__wrap-star {
			display: flex;
			align-items: center;
			justify-content: center;

			&.filled {
				.rating__star {
					display: none;
					&_full {
						display: block;
					}
				}
			}

			&.half-filled {
				.rating__star {
					display: none;
					&_half-filled {
						display: block;
					}
				}
			}
		}
	}

}

/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/menu-categories";
@import "blocks/feedbacks";

@import "blocks/catalog-categories/catalog";
@import "blocks/catalog-products/catalog";
@import "blocks/cart-empty/cart-content";
@import "blocks/cart/cart-content";
@import "blocks/product/promo";
@import "blocks/product/description";
@import "blocks/feedback/feedback";