.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 1260px;
}
@media (min-width: 1400px) {
	.container {
		width: 90%;
		max-width: 1920px;
	}
}
