
<section class="cart-content">
	<div class="container">
		<div class="cart-content__wrap">
			<div class="cart-content__wrap-description">
				<h2 class="cart-content__title">
					Ваша корзина пока пуста
				</h2>
				<p>
					Акции, специальные предложения и обзоры самых интересных товаров на главной
					странице помогут вам определиться с выбором!
				</p>
				<form action class="cart-content__form">
					<input class="input" type="text" name="q" placeholder="Быстрое добавление: введите наименование или код товара">
					<button class="btn" type="submit"></button>
				</form>
				<div class="cart-content__preview"><!-- класс visible чтоюб показать превью-->
					<div class="cart-content__preview-wrap-img">
						<img src="assets/images/img/preview.jpg" alt
							class="cart-content__preview-img">
					</div>
					<div class="cart-content__preview-data">
						<h3 class="cart-content__preview-title">
							Ravenol ATF MERCON V 1л для АКПП FORD П/син гидравлическая жидкость
						</h3>
					</div>
				</div>
				<a href="#" class="cart-content__button-back">
					На главную
				</a>
			</div>
			<div class="cart-content__total">
				<p>Для оформления заказа, выберите в корзине товары, которые хотите
					купить</p>
				<span class="cart-content__price">
					Итого: <b>0руб</b>.
				</span>
				<button class="cart-content__buy "><!-- класс check для оформленной кнопки-->
					<span>Оформить заказ</span>
					<svg width="20.758789" height="15.910645" viewBox="0 0 20.7588 15.9106"
						fill="none" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink">
						<defs />
						<path id="Vector"
							d="M20.7588 3.10693C20.7588 3.46436 20.6338 3.76807 20.3838 4.01807L10.6875 13.7144L8.86621 15.5356C8.61621 15.7856 8.3125 15.9106 7.95557 15.9106C7.59814 15.9106 7.29443 15.7856 7.04443 15.5356L5.22314 13.7144L0.375 8.86621C0.125 8.61621 0 8.3125 0 7.95557C0 7.59814 0.125 7.29443 0.375 7.04443L2.19629 5.22314C2.44629 4.97314 2.75 4.84814 3.10693 4.84814C3.46436 4.84814 3.76807 4.97314 4.01807 5.22314L7.95557 9.17432L16.7412 0.375C16.9912 0.125 17.2944 0 17.6519 0C18.0088 0 18.3125 0.125 18.5625 0.375L20.3838 2.19629C20.6338 2.44629 20.7588 2.75 20.7588 3.10693Z"
							fill="#FFFFFF" fill-opacity="1.000000" fill-rule="nonzero" />
					</svg>
				</button>
			</div>
		</div>
	</div>
</section>
